# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Educación\Universidad Nacional de Colombia\Ingenieria Mecatrónica\Semestre 2020 - 02\Clases\1° Programación de Computadores\Proyectos\RUN\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
